*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1348px;
  min-width: 992px;
  padding: 0 15px;
}

.banner {
  padding: 15px 0;
  background: url('../img/banner-bg.png') center / cover no-repeat;
  font-family: Montserrat;
  font-weight: 600;
  color: #fff;
}

.banner .container {
  display: flex;
  justify-content: center;
}

.banner__info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.banner__info-inner {
  max-width: 265px;
}

.banner__info-ticket {
  margin-right: 25px;
  width: 144px;
  height: 144px;
  object-fit: contain;
}

.banner__info-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.8;
}

.banner__info-mark {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  z-index: 0;
}

.banner__info-mark:after {
  content: '';
  position: absolute;
  box-sizing: content-box;
  padding: 3px;
  width: 100%;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #d83d38;
}

.banner__info-small {
  font-size: 12px;
  font-weight: 700;
}

.banner__info-medium {
  font-weight: 500;
}

.banner__info-tel-text {
  margin-bottom: 5px;
  line-height: 2;
  color: #d0d0d0;
}

.banner__info-tel {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #f23c37;
  font-size: 22px;
}

.banner__info-tel:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: #f23c37;
}

.banner__form-block {
  margin-left: 30px;
}

.banner__form-block-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
}

.banner__form {
  display: grid;
  gap: 15px;
}

.banner__form-field-wrap {
  position: relative;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  padding: 0;
  height: 50px;
}

.banner__form-field-wrap legend {
  margin-left: 10px;
  padding: 0 8px;
  color: #e3e3e3;
}

.banner__form-field {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 40px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  padding: 0 18px;
  border-radius: 5px;
  background: none;
  color: #c1c1c1;
  border: none;
}

.banner__form-btn {
  height: 50px;
  background: #d83d38;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.banner__form-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.banner__form-checkbox input {
  visibility: hidden;
  position: absolute;
}

.banner__form-checkbox-toggle {
  position: relative;
  margin-right: 11px;
  width: 14px;
  height: 14px;
  border: 1px solid #797979;
  border-radius: 3px;
}

.banner__form-checkbox input:checked ~ .banner__form-checkbox-toggle:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #d83d38;
  border-radius: 1px;
}
